.sidebarItem {
  padding: 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 1px;
}

.sidebarItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebarTitle {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.sidebarTitle span i {
  display: inline-block;
  color: #000000;
  width: 2.5em;
}
.sidebarTitle .toggle-btn {
  cursor: pointer;
  transition: 0.3s;
}
.sidebarItem.open > .sidebarTitle .toggle-btn {
  transform: rotate(180deg);
}
.sidebarContent {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
  // decoration: none;
  display: flex;
  flex-direction: column;
}
.sidebarItem.open > .sidebarContent {
  height: auto;
}
