.details {
  display: flex;
  flex-flow: column;
  box-shadow: 2px 4px 10px 1px rgba(8, 8, 8, 0.47);
  border-radius: 2px;
  border: 1px solid black;
  text-decoration: none;
  background-color: #fff;
  width: 45rem;
  height: 20rem;
  margin-top: 30px;
  margin-left: 2rem;
}
